pyvenv/
__pycache__/
yolo11s.pt
build/
install/
log/
.env
.groq_key
external/
output.wav
input.wav
faces.db
serial/
src/Azure_Kinect_ROS2_Driver/
src/bwi_ros2_common
src/libsegwayrmp
src/lidar
src/segbot_description
src/segway_rmp_ros2
src/urg_node2